<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.AnswerMapper">

	<!-- 답글 추가 -->
	<insert id="insertAnswer" parameterType="com.gd.lms.vo.Answer">
		INSERT INTO answer
			(
				  question_no
				, answer_title
				, answer_content
				, answer_writer
				, create_date
				, update_date
			)
		VALUES
			(
				  #{questionNo}
				, #{answerTitle}
				, #{answerContent}
				, #{answerWriter}
				, now()
				, now()  
			)
	</insert>

</mapper>