<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ClubImgMapper">

	<insert id="insertClubImg" parameterType="com.gd.lms.vo.ClubImg">
		<selectKey resultType="string" keyProperty="club" order="AFTER">
			select
			last_insert_id()
		</selectKey>
		insert into club_img {
		club_no
		,content_type
		,filename
		,create_date
		) values (
		#{clubNo}
		,#{contentType}
		,#{fileName}
		,now()
		)
	</insert>


</mapper>