<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">
	

	<!-- 강의하는 과목의 과제 리스트 가져오기 교수	-->
	<select id="selectLectureListPro" parameterType="int" resultType="map">
		SELECT
			  lecture_no lectureNo
			, subject_approve_no subjectApproveNo
			, lecture_title lectureTitle
			, lecture_content lectureContent
			, create_date createDateL
			, update_date updateDateL
			, count countL

		FROM
		lecture 
		WHERE	
			subject_approve_no = #{subjectApproveNo};					
</select>		
		
		
		
		
	<!-- 강의하는 과목의 과제 조회수 -->
	<update id="lectureHit" parameterType="int">
		 UPDATE 
		 	lecture		 	
		 SET
		 	count=count+1
		 WHERE
		 	lecture_no= #{lectureNo}		 			
	</update>


	<!-- 강의하는 과목의 과제 상세보기 -->
	<select id="selectLectureOnePro" resultType="map">
	SELECT
		l.lecture_no lectureNo
		, l.subject_approve_no subjectApproveNo 
		, l.lecture_title lectureTitle
		, l.lecture_content lectureContent
		, l.create_date createDate
		, l.update_date updateDate
		, l.count 
		, lf.lecturefile_no lecturefileNo
		, lf.lecture_filename lectureFilename
		, lf.lecture_originname lectureOriginname
		, lf.lecture_type lectureType
	FROM
		lecture	l 
	INNER JOIN 
		lecture_file lf
	ON
		l.lecture_no = lf.lecture_no
	WHERE
		l.lecture_no = #{lectureNo}
	</select>
	
	
	
	<!-- 강의하는 과목의 과제 입력하기 -->
	<insert id="insertLectureOne" parameterType="com.gd.lms.vo.Lecture">
	INSERT INTO
		lecture
		(
		subject_approve_no
		, lecture_title
		, lecture_content
		, create_date
		, update_date
		)
		VALUES
		(#{subjectApproveNo}
		,#{lectureTitle}
		,#{lectureContent}
		, now()
		, now()		
		)
	</insert>
	
	
		<!-- 과제 -->
	<select id="selectLectureNo" parameterType="com.gd.lms.vo.Lecture" resultType="int">
	SELECT
		lecture_no lectureNo		
	FROM
		lecture
	WHERE
		lecture_title = #{lectureTitle}
	AND
		lecture_content = #{lectureContent}	
	AND
		subject_approve_no = #{subjectApproveNo}
	</select>
	
	
	
	
	<!--  강의하는 과목의 과제 파일 첨부하기 -->
	<insert id="insertLecturefile" parameterType="com.gd.lms.vo.LectureFile">
	INSERT INTO
		lecture_file
		(
		lecture_no
		, lecture_filename
		, lecture_originname
		, lecture_type
		, create_date
		, update_date)
		VALUES
		(
		#{lectureNo}
		, #{lectureFilename}
		, #{lectureOriginname}
		, #{lectureType}
		, now()
		, now())
		
	</insert>
	
	<!-- 강의하는 과목의 과제 수정하기 -->
	<update id="updateLectureOne" parameterType="int">
	UPDATE
		lecture
	SET
		lecture_title = #{lectureTitle}
		, lecture_content = #{lectureContent}
		, update_date = now()		
	WHERE
		lecture_no = #{lectureNo}	
	</update>
	
	<!-- 강의하는 과목의 과제 삭제하기 -->	
	<delete id="deleteLectureOne" parameterType="int">
	DELETE 
	FROM
		lecture
	WHERE
		lecture_no = #{lectureNo}		
	</delete>
	
</mapper>