<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.LectureMapper">
	

	<!-- 강의하는 과목의 과제 리스트 가져오기 교수	-->
	<select id="selectLectureListPro" parameterType="int" resultType="map">
		SELECT
			  lecture_no lectureNo
			, subject_approve_no subjectApproveNo
			, lecture_title lectureTitle
			, lecture_content lectureContent
			, create_date createDateL
			, update_date updateDateL
			, count countL

		FROM
		lecture 
		WHERE	
			subject_approve_no = #{subjectApproveNo};					
</select>		
		
		
		
		
	<!-- 강의하는 과목의 과제 조회수 -->
	<update id="lectureHit" parameterType="int">
		 UPDATE 
		 	lecture		 	
		 SET
		 	count=count+1
		 WHERE
		 	lecture_no= #{lectureNo}		 			
	</update>


	<!-- 강의하는 과목의 과제 상세보기 -->
	<select id="selectLectureOnePro" parameterType="com.gd.lms.vo.Lecture" resultType="com.gd.lms.vo.Lecture">
	SELECT
		lecture_no lectureNo
		, subject_Approve_No subjectApproveNo 
		, lecture_title lectureTitle
		, lecture_content lectureContent
		, create_date createDate
		, update_date updateDate
		, count 
	FROM
		lecture	
	WHERE
		lecture_no = #{lectureNo}	
	</select>
	
	
	<!-- 강의하는 과목의 과제 입력하기 -->
	<insert id="insertLectureOne" parameterType="com.gd.lms.vo.Lecture">
	INSERT INTO
		lecture
		(
		subject_approve_no
		, lecture_title
		, lecture_content
		, create_date
		, update_date
		)
		VALUES
		(#{subjectApproveNo}
		,#{lectureTitle}
		,#{lectureContent}
		, now()
		, now()		
		)
	</insert>
	
	
	<!--  강의하는 과목의 과제 파일 첨부하기 -->
	<insert id="insertLecturefile" parameterType="com.gd.lms.vo.LectureFile">
	INSERT INTO
		lecture_file
		(
		lecture_no
		, lecture_file_name
		, lecture_origin_name
		, lecture_type
		, create_date
		, update_date)
		VALUES
		(
		#{lectureNo}
		, #{lectureFileName}
		, #{lectureOriginName}
		, #{lectureType}
		, now()
		, now())
	
	</insert>
	
	
	<!-- 강의하는 과목의 과제 수정하기 -->
	<update id="updateLectureOne" parameterType="int">
	UPDATE
		lecture
	SET
		lecture_title = #{lectureTitle}
		, lecture_content = #{lectureContent}
		, update_date = now()		
	WHERE
		lecture_no = #{lectureNo}	
	</update>
	
	<!-- 강의하는 과목의 과제 삭제하기 -->	
	<delete id="deleteLectureOne" parameterType="int">
	DELETE 
	FROM
		lecture
	WHERE
		lecture_no = #{lectureNo}		
	</delete>
	
</mapper>