<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.MajorMapper">

	<select id="selectMajorList" resultType="map">
	
	SELECT
		 major_no majorNo
		,major_name majorName
		,major_subject majorSubject
		,major_introduce_Header majorIntroduceHeader
		,major_introduce majorIntroduce
		,major_room majorRoom
	FROM major
	
	</select>

</mapper>