<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.NoticeMapper">
	
	<!-- 메인 : 공지 최근 5개 노출  -->
	<select id="selectNoticeTop" resultType="map">
		SELECT
			  notice_title		noticeTitle
			, notice_writer		noticeWriter
			, create_date		createDate
		FROM notice
		
		ORDER BY notice_no desc
		
		LIMIT 5
	</select>
	
	<!-- 공지 조회수 -->
	<update id="updateNoticeCount" parameterType="com.gd.lms.vo.Notice">
		UPDATE
			notice
		SET
			count = count + 1
			
		WHERE notice_no = #{noticeNo}
	</update>
	
	<!-- 공지 삭제하기 -->
	<delete id="deleteNotice" parameterType="com.gd.lms.vo.Notice">
		DELETE 
			FROM notice
			 
		WHERE  notice_no = #{noticeNo}
	</delete>
	
	<!-- 공지수정하기 -->
	<update id="updateNotice" parameterType="com.gd.lms.vo.Notice">
		UPDATE
			notice
		SET 
			  notice_title = #{noticeTitle}
			, notice_content = #{noticeContent}
			, update_date = now()
			
		WHERE notice_no = #{noticeNo}
	</update>
	
	<!-- 공지상세보기 -->
	<select id="selectNoticeOne" resultType="map">
	
		SELECT
			  notice_no noticeNo
			, notice_title noticeTitle
			, notice_content noticeContent
			, notice_writer noticeWriter
			, count
			, create_date createDate
			, update_date updateDate
		FROM notice
		
		WHERE notice_no = #{noticeNo}
	</select>
	
	
	<!-- 공지추가 -->
	<insert id="insertNotice" parameterType="com.gd.lms.vo.Notice">
		INSERT INTO notice
			(
				  notice_title
				, notice_content
				, create_date
				, update_date
			)
		VALUES
			(
				  #{noticeTitle}
				, #{noticeContent}
				, now()
				, now()
			)
	</insert>

	<!-- 공지리스트 -->
	<select id="selectNoticeList" resultType="map">
	
	SELECT
		  notice_no noticeNo
		, notice_title noticeTitle
		, notice_content noticeContent
		, notice_writer noticeWriter
		, count
		, create_date createDate
		, update_date updateDate
	FROM notice	
	
	ORDER BY notice_no desc
	
	</select>

</mapper>