<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ProfessorMapper">

	<select id="professerLogin" resultType="com.gd.lms.vo.Professor">
		SELECT
			professor_no professorNo
			, professor_pass professorPass
			, major_no majorNo
			, professor_name professorName
			, professor_age professorAge
			, professor_gender professorGender
			, professor_telephone professorTelephone
			, professor_email professorEmail
			, professor_address professorAddress
			, professor_detail_address professorDetail
			, professor_room professorRoom
			, professor_state professorState
			, salary_no salaryNo
		FROM
			professor
		WHERE
			professor_no = #{professorNo}
		AND	
			professor_pass = #{professorPass}	
	</select>

</mapper>