<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.ProfessorMapper">

	<select id="professerLogin" resultType="com.gd.lms.vo.Professor">
		SELECT
			professor_no professorNo
			, professor_pass professorPass
			, major_no majorNo
			, professor_name professorName
			, professor_age professorAge
			, professor_gender professorGender
			, professor_telephone professorTelephone
			, professor_email professorEmail
			, professor_address professorAddress
			, professor_detail_address professorDetail
			, professor_room professorRoom
			, professor_state professorState
			, salary_no salaryNo
		FROM
			professor
		WHERE
			professor_no = #{professorNo}
		AND	
			professor_pass = #{professorPass}	
	</select>
	
	<!-- 교수회원가입 -->
	<insert id="insertProfessor" parameterType="com.gd.lms.vo.Professor">
	INSERT INTO professor (
		  professor_no
		, professor_pass
		, major_no
		, professor_name
		, professor_regi_no
		, professor_age
		, professor_gender
		, professor_telephone
		, professor_email
		, professor_address
		, professor_detail_address
		, create_date
		, update_date)
	VALUES (
		  #{professorNo}
		, #{professorPass}
		, #{majorNo}
		, #{professorName}
		, #{professorRegiNo}
		, #{professorAge}
		, #{professorGender}
		, #{professorTelephone}
		, #{professorEmail}
		, #{professorAddress}
		, #{professorDetailAddress}
		, NOW()
		, NOW())
	</insert>
	
	<select id="selectProfessorOne" resultType="com.gd.lms.vo.Professor">
		SELECT
			  p.professor_no
			, p.professor_pass
			, p.major_no
			, m.major_name
			, p.professor_name
			, p.professor_regi_no
			, p.professor_age
			, p.professor_gender
			, p.professor_telephone
			, p.professor_email
			, p.professor_address
			, p.professor_detail_address
			, p.professor_room
			, p.professor_state
			, p.create_date
			, p.update_date
			, i.content_type
			, i.filename
			, i.origin_filename
			, s.salary_no
			, s.salary_value
		FROM
			professor p LEFT JOIN professor_img i
		ON
			p.professor_no = p.professor_no
		INNER JOIN salary s	
		ON 
			p.salary_no = s.salary_no
		LEFT JOIN major m
		ON
			p.major_no = m.major_no
		WHERE 
			p.professor_no = #{professorNo}
	</select>

</mapper>