<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.RegisterMapper">


	<!--  학생의 수강신청한 강의 리스트 불러오기... 이지만 어지간한건 다 선택함-->
	<select id="selectStudentMyRegisterList" parameterType="int" resultType="map">
	SELECT 
		r.student_no studentNo
		, r.subject_approve_no subjectApproveNo
		, r.create_date createDateR
		, r.update_date updateDateR
		, sa.major_no majorNo
		, sa.professor_no professorNo
		, sa.year yearSa
		, sa.semester semester
		, sa.start_date startDate
		, sa.end_date endDate
		, sa.total_date totalDate
		, sa.subject_room subjectRoom
		, sa.day daySa
		, sa.start_time startTime
		, sa.end_time eneTime
		, s.subject_no subjectNo
		, s.subject_name subjectName		
		, m.major_name majorName
	FROM 
		register r
	INNER JOIN
		subject_approve sa
	ON
		r.subject_approve_no	= 	sa.subject_approve_no
	INNER JOIN
		subject s
	ON
		sa.subject_no = s.subject_no
	INNER JOIN
		major m
	ON
		sa.major_no = m.major_no
	WHERE
		r.student_no = #{No}		
	</select>




	<!--  넘겨받은 approveNo 기준으로 강의정보 셀렉하기 >>> 학생 교수 상관없이 -->
	<select id="selectRegisteInfo" resultType="map">
	SELECT
		sa.subject_approve_no subjectApproveNo
		, sa.major_no majorNo
		, sa.subject_no subjectNo
		, sa.professor_no professorNo
		, sa.year yearS
		, sa.semester semester
		, sa.start_date startDate
		, sa.end_date endDate
		, sa.total_date totalDate
		, sa.approve_active approveActive
		, sa.subject_room subjectRoom
		, sa.day day
		, sa.start_time startTime
		, sa.end_time endTime
		, s.subject_name subjectName
		, s.subject_state subjectState
		, s.subject_credit subjectCredit
		, s.subject_major subjectMajor
		, p.professor_name
		, p.professor_room
		, p.professor_state
		, m.major_name majorName
	FROM
		subject_approve sa
		INNER JOIN
			subject s
		ON
			sa.subject_no = s.subject_no
			INNER JOIN
				professor p
				ON
					sa.professor_no = p.professor_no
					INNER JOIN
						major m
							ON	
								sa.major_no = m.major_no
								WHERE
									sa.subject_approve_no = #{subjectApproveNo}
	</select>
	




	
	<!-- 교수의 강의리스트 불러오기 -->
	<select id="selectProfessorMyRegisterList" parameterType="int" resultType="map">
	SELECT 
	sa.major_no majorNo
	, sa.professor_no professorNo
	, sa.year yearSa
	, sa.semester semester
	, sa.start_date startDate
	, sa.end_date endDate
	, sa.total_date totalDate
	, sa.subject_room subjectRoom
	, sa.day daySa
	, sa.start_time startTime
	, sa.end_time eneTime
	, s.subject_name subjectName
	, s.subject_no subjectNo
	, m.major_name majorName
	FROM
		subject_approve sa
	INNER JOIN
		subject s	
	ON
		sa.subject_no	= 	s.subject_no
	INNER JOIN
		major m
	ON
		sa.major_no = m.major_no
	WHERE
		sa.professor_no = #{No};		
	</select>	
					
</mapper>