<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.SalaryMapper">
	
	<!-- 장학리스트 -->
	<select id="selectSalaryList" resultType="map">
		SELECT
			  salary_no 	salaryNo
			, salary_value 	salaryValue
		
		FROM salary
	</select>
	
	<!-- 직원 연봉 수정 쿼리 -->
	<update id="updateSalaryEmployee" parameterType="com.gd.lms.vo.Employee">
	
		UPDATE
			employee 
		SET 
			salary_no = #{salaryNo}
		WHERE 
			employee_no = #{employeeNo}

	</update>
	
	<!-- 교수 연보 수정 쿼리 -->
	<update id="updateSalaryProfessor" parameterType="com.gd.lms.vo.Employee">
	
		UPDATE
			professor 
		SET 
			salary_no = #{salaryNo}
		WHERE 
			professor_no = #{professorNo}

	</update>
	
	
	
</mapper>