<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.StudentLectureHomeworkMapper">


	<!-- 교수가 Lecture생성 시 수강하는 학생들 만큼 student_homework 테이블에 디비 입력하기 -->
	
	<!--  0. 해당 강의 듣는 학생넘버추출 -->
	<select id="selectStudents" parameterType="int" resultType="map">
	SELECT
		student_no
	FROM
		register
	WHERE
		subject_approve_no = #{subjectApproveNo}
	
	</select>
	
	<!-- 1. 수강 학생들에게 데이터 자동생성 -->
	<insert id="insertAllStudentHomework" parameterType="com.gd.lms.vo.StudentHomework">

		<!--  3. 수강 학생들에게 데이터 자동생성 -->
		INSERT INTO 
			student_homework
		(
		student_no
		, lecture_no

		)
		VALUES
		(
		#{studentNo}
		, #{lectureNo}

		)	
	</insert>


	<!-- 학생이 본인이 수강하는 과목의 과제 리스트 보기 -->
	<select id="selectMyLecureHomeworkList" parameterType="int" resultType="map">
	SELECT 
		 l.lecture_no lectureNo
		 , l.subject_approve_no subjectApproveNo
		 , l.lecture_title lectureTitle
		 , l.create_date createDate
		 , sh.student_submitck studentSubmitCk
		 , sa.professor_no
		 , p.professor_name
	 FROM
	 	lecture l
	 	 LEFT JOIN
	 	  student_homework sh
	 	  ON
	 	 	l.lecture_no = sh.lecture_no
	 	 	INNER JOIN
	 	 		subject_approve sa
	 	 			ON
	 	 			l.subject_approve_no = sa.subject_approve_no
	 	 			INNER JOIN
	 	 				professor p
	 	 			ON
	 	 				sa.professor_no= p.professor_no
	 	 	WHERE
	 	 		l.subject_approve_no = #{subjectApproveNo}
	</select>


	<!-- 학생이 수강하는 과목의 과제 제출 -->
	<insert id="insertLectureHomework" parameterType="com.gd.lms.vo.StudentHomework">
	INSERT INTO 
		student_homework
	(
	student_no
	, lecture_no
	, homework_title
	, homework_content
	)
	VALUES
	(
	#{studentNo}
	, #{lectureNo}
	, #{homeworkTitle}
	, #{homeworkTitle}
	)
	</insert>
	
	
	<!--  과제 첨부를 위해 필요한 No 찾기 -->
	<select id="selectLectureHomeworkPf" parameterType="com.gd.lms.vo.StudentHomework" resultType="int">
	SELECT
		pf_homework_no
	FROM
	student_homework
	WHERE
		student_no = #{studentNo}
	AND
		lecture_no = #{lectureNo}
	AND
		homework_title = #{homeworkTitle}			
	</select>
	
	
	<!-- 학생이 수강하는 과목의 과제 파일 첨부하기 -->
	<insert id="insertLectureHomeworkfile" parameterType="com.gd.lms.vo.StudentHomeworkFile">
	INSERT INTO
		student_homework_file
	(
	pf_homework_no
	, student_no
	, homework_filename
	, homework_originname
	, homework_filetype
	, create_date
	, update_date
	)
	VALUES
	(
	#{pfHomeworkNo}
	, #{studentNo}
	, #{homeworkFileName}
	, #{homeworkOriginName}
	, #{homeworkFileType}
	, now()
	, now()
	)
	
	</insert>
	
	
	<!-- 과제제출을 위해 필요한 No찾기 -->
	<select id="selectApproveNo" parameterType="int" resultType="int">
	SELECT
		subject_approve_no
	FROM
		lecture
	WHERE
	lecture_no=#{lectureNo};
	</select>
	
	
	<!-- 특정과목의 본인의 과제리스트 보기 -->
	<select id="selectMyHomeworkList" parameterType="int" resultType="map">
	SELECT
			sh.pf_homework_no pfHomeworkNo
			,sh.homework_title homeworkTitle
			,sh.homework_content homeworkContent
			,sh.student_submitck studentSubmitck
			,l.lecture_no lectureNo
			,l.subject_approve_no subjectApproveNo
			,l.lecture_title lectureTitle
			,l.lecture_content lectureContent
			,l.create_date createDate
		FROM
			student_homework sh
		RIGHT JOIN
			lecture l
			ON
			sh.lecture_no = l.lecture_no
			WHERE
			l.subject_approve_no = #{subjectApproveNo}
			AND
			sh.student_no=#{studentNo};
	</select>
	
	
	<!-- 본인이 제출한/이미생성된 과제 보기 -->
	<select id="selectMyHomeworkOne" parameterType="int" resultType="map">
	SELECT
		sh.pf_homework_no pfHomeworkNo
		,sh.homework_title homeworkTitle
		,sh.homework_content homeworkContent
		,sh.student_submitck studentSubmitck
		,shf.homework_filename homeworkFileName
		,shf.homework_originname homeworkOriginName
		,shf.homework_filetype homeworkFiltType
		,l.subject_approve_no subjectApproveNo
	FROM
		student_homework sh
		LEFT JOIN
			student_homework_file shf
			ON
			sh.pf_homework_no = shf.pf_homework_no
			LEFT JOIN
				lecture l
				ON
				sh.lecture_no = l.lecture_no
	WHERE
			sh.pf_homework_no = #{pfHomeworkNo};
	</select>
	
	<!-- 학생이 수강하는 과목의 과제 수정하기 본문만  -->
	<update id="updateMyHomeworkOne" parameterType="com.gd.lms.vo.StudentHomework">
	UPDATE
		student_homework
	SET
		homework_title = #{homeworkTitle}
		, homework_content = #{homeworkContent}	
	WHERE
		pf_homework_no = #{pfHomeworkNo}	
	</update>
	
	
	<!--  기존 파일정보 가져오기 -->
	<select id="selectHomeworkFileExis" resultType="String"  parameterType="int">
	SELECT
		homework_filename homeworkFileName
	FROM
		student_homework_file
	WHERE
		pf_homework_no = #{pfHomeworkNo}	
	</select>
	
	
	<!-- 학생이 수강하는 과목의 과제 파일 수정하기  -->
	<update id="updateHomeworkFile" parameterType="com.gd.lms.vo.StudentHomeworkFile">
	UPDATE
		student_homework_file
	SET
		homework_filename = #{homeworkFileName}
		, homework_originname = #{homeworkOriginName}
		, homework_filetype = #{homeworkFileType}
		, update_date = NOW()
	WHERE
		pf_homework_no = #{pfHomeworkNo}		
	
	</update>
	
	
	
	<!-- 학생이 수강하는 과목의 과제 삭제하기  -->
	<!-- 학생이 수강하는 과목의 과제 파일 삭제하기  -->


	<!--  교수가 자기 강의 수강하는 학생들의 과제 제출 리스트로 보기 -->
	<!--  subjcetApproveNo는 사이드바로 선택 -->
	<select id="selectLecture" resultType="map" parameterType="int">
	SELECT 
		l.lecture_no lectureNo
		, sh.student_no studentNo
		, sh.homework_title homeworkTitle 
		, sh.student_submitck studentSubmitCk
		, sh.score score
	FROM
		lecture l
		 RIGHT JOIN
		 	student_homework sh
		 ON
		  	l.lecture_no = sh.lecture_no
				WHERE
					l.lecture_no = ${lectureNo}	
	</select>

	
	
	<!-- 두개 다 업데이트 -->
	<update id="updateLectureHomeworkall" parameterType="com.gd.lms.vo.StudentHomework">
	UPDATE
	student_homework
	SET
	score = ${score}
	, student_submitck = ${studentSubmitCk}
	WHERE
	pf_homework_no = ${pfHomeworkNo}
	</update>
	
	
	
</mapper>