<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.StudentMapper">


	<!-- 학생로그인 -->
	<select id="loginstudent" resultType="com.gd.lms.vo.Student">
		select
			student_no studnetNo
			, student_pass studentPass
			, major_no majorNo
			, student_name studentName
			, student_regi_no studentRegiNo
			, student_age studentAge
			, student_gender studentGender
			, student_telephone studentTelephone
			, student_email studentEmail
			, student_address studentAddress
			, student_detail_address studentDatailAddress
			, student_state studentState
			, student_top studentTop
			, student_active studentActive
			, create_date createDate
			, update_date updateDate
			, club_no clubNo
			, scholar_no scholarNo
		FROM
			student
		WHERE
			student_no = #{studentNo}
		AND
			student_pass = #{studentPass}
	</select>


	<!--  학생 회원가입 >>> 실제로는 -->
	<insert id="insertStudent" parameterType="com.gd.lms.vo.Student">
		INSERT INTO student
			(
				 student_no
				, student_pass
				, major_no
				, student_name
				, student_regi_no
				, student_age
				, student_gender
				, student_telephone
				, student_email
				, student_address
				, student_detail_address
				, create_date
				, update_date
			)
		VALUES
			(
				#{studentNo}
				, #{studentPass}
				, #{majorNo}
				, #{studentName}
				, #{studentRegiNo}
				, #{studentAge}
				, #{studentGender}
				, #{studentTelephone}
				, #{studentEmail}
				, #{studentAddress}
				, #{studentDetailAddress}
				, now()
				, now()
			s)
	</insert>
</mapper>