<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.SubjectApproveMapper">

	<!-- 관리자 : 승인과목 리스트 확인 -->
	<select id="selectSubjectApproveList" resultType="map">
		SELECT
			  a.subject_approve_no 	subjectApproveNo
			, a.major_no 			majorNo
			, m.major_name 			majorName
			, a.subject_no 			subjectNo
			, s.subject_name 		subjectName
			, a.professor_no 		professorNo
			, p.professor_name 		professorName
			, a.year 				year
			, a.semester 			semester
			, a.start_date 			startDate
			, a.end_date 			endDate
			, a.total_date 			totalDate
			, a.approve_active 		approveActive
			, a.subject_room 		subjectRoom
			, a.day 				day
			, a.start_time 			startTime
			, a.end_time 			endTime
		FROM
			subject_approve a 
				
				INNER JOIN subject s
				ON a.subject_no = s.subject_no
				
				INNER JOIN professor p
				ON a.professor_no = p.professor_no
				
				INNER JOIN major m
				ON a.major_no = m.major_no
				
		ORDER BY a.subject_approve_no
	</select>

</mapper>