<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.TestMapper">

	<insert id="insertTest" parameterType="com.gd.lms.vo.Test">
		INSERT INTO test(
			 subject_approve_no
			,test_name
			,create_date
			,update_date)
		VALUE(
			 #{subjectApproveNo}
			,#{testName}
			,NOW()
			,NOW())
	</insert>
	
	<insert id="insertMultiple" parameterType="com.gd.lms.vo.MultipleTest">
	
	INSERT INTO multiple_test(
		 test_no
		,multiplechoice_question
		,multiplechoice_answer
		,multiplechoice_score
		,create_date,update_date)
	VALUE(
		 #{testNo}
		,#{multiplechoiceQuestion}
		,#{multiplechoiceAnswer}
		,#{multiplechoiceScore}
		,NOW()
		,NOW())
	</insert>
	
	
	
</mapper>