<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.TestMapper">

	<insert id="insertTest" parameterType="com.gd.lms.vo.Test">
		INSERT INTO test(
			 subject_approve_no
			,test_name
			,create_date
			,update_date)
		VALUE(
			 #{subjectApproveNo}
			,#{testName}
			,NOW()
			,NOW())
	</insert>
	
	<select id="selectTestNo" resultType="map">
	
	SELECT 
		test_no,subject_approve_no,test_name
	FROM
		test
	
	</select>
	
	<!-- 학과정보들 빼서 입력해주려고 3개조인하기 -->
	<select id="selectTestList" resultType="map">
	
	SELECT 
		t.test_no,t.subject_approve_no,t.test_name,
		s.major_no,s.subject_no,s.professor_no,s.year,s.semester,s.start_date,s.end_date,
		m.major_name,b.subject_name,p.professor_name
	FROM
		test t LEFT JOIN subject_approve s
	ON
		t.subject_approve_no = s.subject_approve_no
	INNER JOIN 
		subject b
	ON 
		s.subject_no = b.subject_no
	INNER JOIN 
		major m
	ON
		s.major_no = m.major_no
	INNER JOIN 
		professor p
	ON 
		s.professor_no = p.professor_no
	
	</select>
	
	<insert id="insertMultipleTestExample" parameterType="com.gd.lms.vo.MultipleTestExample">
		
		INSERT INTO multiple_test_example (
			 multiple_test_example_no
			,multiple_test_example_content
			,create_date
			.update_date)
		VALUES (
			 #{multipleTestExampleNo}
			,#{multipleTestExampleContent}
			,NOW()
			,NOW()
		)
	
	
	</insert>
	
	
	
</mapper>