<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.lms.mapper.TestMapper">


	<!-- 학생이 자신이 수강하는 과목 시험지 리스트 확인하기-->
	<select id="selectTestList" resultType="map">
		
		SELECT 
			r.subject_approve_no ,sa.subject_no,s.subject_name,sa.professor_no,p.professor_name,sa.year,t.test_name,sa.semester
		FROM 
			register r 
		LEFT JOIN 
			subject_approve sa
		ON 
			r.subject_approve_no = sa.subject_approve_no
		LEFT JOIN 
			subject s
		ON 
			s.subject_no = sa.subject_no
		LEFT JOIN 
			professor p
		ON 
			p.professor_no = sa.professor_no
		LEFT JOIN
			test t
		ON 
			t.subject_approve_no = sa.subject_approve_no
		WHERE 
			student_no = #{studentNo}
		
	</select>
	<!-- 시험지 상세보기 -->
	<select id="selectTestOne" resultType="map">
	
	SELECT 
		t.test_no,sa.subject_no,s.subject_name,sa.year,sa.semester
	FROM 
		subject_approve sa
	LEFT JOIN 
		subject s
	ON 
		sa.subject_no = s.subject_no
	LEFT JOIN 
		test t
	ON 
		a.subject_approve_no = t.subject_approve_no
	WHERE 
		t.test_no = #{testNo}
	
	</select>

	<!-- 승인된 과목 리스트를 시험출제리스트에 뽑아주기위해 select -->
	<select id="selectSubjectApproveList" resultType="map">

		SELECT
			s.subject_approve_no,s.major_no,s.subject_no,s.professor_no,s.YEAR,s.semester,s.start_date,s.end_date,s.total_date,
			m.major_name,p.professor_name,j.subject_name
		FROM
			subject_approve s
		LEFT JOIN
			major m
		ON
			s.major_no = m.major_no
		LEFT JOIN
			professor p
		ON 
			s.professor_no = p.professor_no
		LEFT JOIN
			subject j
		ON 
			j.subject_no = s.subject_no
		ORDER BY major_name ASC
		
	</select>
	
	<select id="selectSubjectOne" resultType="map">
	
		SELECT
			s.subject_approve_no,s.major_no,s.subject_no,s.professor_no,s.YEAR,s.semester,s.start_date,s.end_date,s.total_date,
			m.major_name,p.professor_name,j.subject_name 
		FROM
			subject_approve s 
		LEFT JOIN 
			major m 
		ON 
			s.major_no = m.major_no
		LEFT JOIN
			 professor p 
		ON 
			s.professor_no = p.professor_no 
		LEFT JOIN 
			subject j 
		ON 
			j.subject_no = s.subject_no
		WHERE 
			subject_approve_no = #{subjectApproveNo}
			
	</select>
	
	<!-- 중간/기말 선택하기 -->
	<insert id="insertTest" parameterType="com.gd.lms.vo.Test">
	
		INSERT INTO test(
			 subject_approve_no
			,test_name
			,create_date
			,update_date)
		VALUE(
			 #{subjectApproveNo}
			,#{testName}
			,NOW()
			,NOW())
	</insert>
	
	<!-- multipleTest 문제 / 답 / 점수 입력 -->
	<insert id="insertMultipleTest" parameterType="com.gd.lms.vo.MultipleTest">
	INSERT INTO multiple_test(
		 test_no
		,multiplechoice_question
		,multiplechoice_answer
		,multiplechoice_score
		,create_date
		,update_date) 
	VALUES (
		 #{testNo}
		,#{multiplechoiceQuestion}
		,#{multiplechoiceAnswer}
		,10
		,NOW()
		,NOW())
	
	</insert>

	
	<!-- multipleTestQuestion 입력하기 -->
	<insert id="insertMultipleTestExample" parameterType="com.gd.lms.vo.MultipleTestExample">
	
	INSERT INTO multiple_test_example(
		 multiplechoice_no
		,multiple_test_example_no
		,multiple_test_example_content
		,create_date
		,update_date) 
	VALUES (
		 #{multiplechoiceNo}
		,#{multipleTestExampleNo}
		,#{multipleTestExampleContent}
		,NOW()
		,NOW())
	
	</insert>


</mapper>